USE [master]
GO
/****** Object:  Database [DesktopAddressBookDB]    Script Date: 5/21/2015 11:58:02 AM ******/
CREATE DATABASE [DesktopAddressBookDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DesktopAddressBookDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DesktopAddressBookDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DesktopAddressBookDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DesktopAddressBookDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DesktopAddressBookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DesktopAddressBookDB]
GO
/****** Object:  Table [dbo].[PermanentAddressTable]    Script Date: 5/21/2015 11:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PermanentAddressTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[postcode] [varchar](50) NOT NULL,
	[division] [varchar](50) NOT NULL,
	[district] [varchar](50) NOT NULL,
	[subdistrict] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PermanentAddressTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PresentAddressTable]    Script Date: 5/21/2015 11:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PresentAddressTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[postcode] [int] NOT NULL,
	[division] [varchar](50) NOT NULL,
	[district] [varchar](50) NOT NULL,
	[subdistrict] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PresentAddressTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
